{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}
{% block content %}
  <div class="login-container">
    <h2 class="login-title">{{ t('jury_login_title') }}</h2>

    <div class="login-form-container">
      <p class="login-description">{{ t('jury_login_description') }}</p>

      <form method="post">
        <div>
          <label for="email">{{ t('email') }}</label>
          <input type="email" id="email" name="email" required autofocus>
        </div>

        <button type="submit" class="submit-btn" style="width: 100%; margin-top: 25px;">{{ t('login') }}</button>
      </form>
    </div>

    <p class="back-link"><a href="/">{{ t('back_home') }}</a></p>
  </div>
{% endblock %}
