{% extends 'base.html' %}
{% block content %}
  <div class="login-container">
    <h2 class="login-title">User Login</h2>

    <div class="login-form-container">
      <p class="login-description">Enter your email to log in to an existing account.</p>

      <form method="post">
        <label for="email">Email</label><br>
        <input
          type="email"
          id="email"
          name="email"
          required
          style="width: 100%; padding: 10px; margin-top: 8px; box-sizing: border-box;"
        >
        <button type="submit" style="width: 100%; margin-top: 25px;">Login</button>
      </form>
    </div>
  </div>
{% endblock %}
